body {
    margin: 0;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 15px auto;
    width: fit-content;
}

.container {
    position: relative;
    width: 320px;
    margin:100px auto 0px auto;
    perspective:900px;
}

.carrossel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 20s infinite forwards linear;
}

.imagem {
    position: absolute;
    width: 160px;
    height: 250px;
    top: -10px;
    left: 10px;
    right: 10px;
    background-size: cover;
    display: flex;
}

.imagem span {
    margin: auto;
    font-size: 1em;
    color: #fff;
}

@keyframes rotate360 {
    from {
        transform: rotateY(0)
    }
    to {
        transform: rotateY(360deg)
    }
}

.imagem:nth-child(1) {
    background-image: url(img/gatodebotas2.jpg);
    transform: rotateY(0deg) translatez(430px);
}

.imagem:nth-child(2) {
    background-image: url(img/aquaman2.jpg);
    transform: rotateY(40deg) translatez(430px);
}

.imagem:nth-child(3) {
    background-image: url(img/batemaporta.png);
    transform: rotateY(80deg) translatez(430px);
}

.imagem:nth-child(4) {
    background-image: url(img/dungeonsedragons.jpg);
    transform: rotateY(120deg) translatez(430px);
}

.imagem:nth-child(5) {
    background-image: url(img/homemformigaevespaquantumania.png);
    transform: rotateY(160deg) translatez(430px);
}

.imagem:nth-child(6) {
    background-image: url(img/newtitanic.png);
    transform: rotateY(200deg) translatez(430px);
}

.imagem:nth-child(7) {
    background-image: url(img/Poster_Avatar2.png);
    transform: rotateY(240deg) translatez(430px);
}

.imagem:nth-child(8) {
    background-image: url(img/shazam.jpg);
    transform: rotateY(280deg) translatez(430px);
}

.imagem:nth-child(9) {
    background-image: url(img/2.png);
    transform: rotateY(320deg) translatez(430px);
}